<div class="modal fade" tabindex="-1" role="dialog" id="delete_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Confirmation</h3>
      </div>
      <div class="modal-body">
        <p>Are you sure?</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-outline-danger" id="del">Yes</a>
        <button class="btn btn-outline-dark" data-dismiss="modal" onclick="removeModal(['#delete_modal', '#overlay'])">No</button>
      </div>
    </div>
  </div>
</div>